# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.env
__init__.py
roboflow_dl1

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# LaTeX 
*.aux
*.bbl
*.blg
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls

# Logs & outputs
plotss

# COCO/Images cache
*.cache

#dataset
roboflow_dl